@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.forms-wrapper-container {
  display: flex;
  justify-content: center;
}
.form-container {
  width: 50%;
  height: 400px;
  position: relative;
}
.recipe-steps-div {
  background-color: rgb(247, 121, 99);
  margin: 10px 0;
  padding: 8px;
  display: flex;
  gap: 2rem;
}
.steps-btn {
  /* background-color: rgb(220, 45, 14); */
  background-color: rgb(207, 203, 203);
  color: black;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}
.steps-btn:hover {
  /* box-shadow: 5px 5px 10px #888; */
  box-shadow: 3px 3px 11px #000; /* Using a hex value */
}

.dynamic-inputstitle-div {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.dynamic-inputs-div {
  display: grid;
  gap: 1rem;
  grid-template-columns: auto auto 1fr auto;
  padding: 0.6em;
  /* border: 1px solid black; */
  margin-top: 0.2em;
  transition: 0.2s;
}
.menge-title {
  margin-left: 4.5rem;
}
.dynamic-inputs-div:hover {
  background-color: tomato;
}
.unity-select {
  width: 150px;
}
.add-inputs-btn {
  border: none;
  background-color: rgb(220, 219, 219);
  padding: 5px 8px;
  border-radius: 5px;
  margin-top: 0.6em;
  cursor: pointer;
}
.remove-inputs-btn {
  background-color: rgb(210, 39, 8);
  border: none;
  color: white;
  padding: 5px 8px;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.2s;
}
.remove-inputs-btn:hover {
  background-color: white;
  color: rgb(210, 39, 8);
  transform: scale(1.08);
}

.background-div {
  position: absolute;
  background: linear-gradient(to bottom, tomato, transparent);
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  /* opacity: 50%; */
  filter: blur(5px);
  z-index: -5;
  opacity: 75%;
}
.step-btn {
  color: white;
  background-color: rgb(217, 48, 18);
  padding: 8px 12px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  /* position: fixed; */
}
.section-form-two {
  position: absolute;
}
.btns-div {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
  margin-top: 1rem;
}
.handle-submit-btn {
  border: none;
  padding: 5px 8px;
  border-radius: 5px;
  background-color: orangered;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}
.handle-submit-btn:hover {
  transform: scale(1.1);
  background-color: rgb(189, 38, 0);
}
.img-url,
.recipe-name {
  display: flex;
  flex-direction: column;
}
.img-url input,
.img-url label,
.recipe-name label,
.recipe-name input {
  margin: 0.3rem;
}
.img-url label,
.recipe-name label {
  font-weight: bold;
}
.img-url input,
.recipe-name input {
  padding: 3px;
}
