.forms-wrapper-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.form-container {
  width: 50%;
  height: 400px;
  position: relative;
  /* margin-top: 5rem; */
}
.recipe-steps-div {
  background-color: rgb(247, 121, 99);
  margin: 10px 0;
  padding: 8px;
  display: flex;
  gap: 2rem;
}
.steps-btn {
  /* background-color: rgb(220, 45, 14); */
  background-color: rgb(207, 203, 203);
  color: black;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}
.steps-btn:hover {
  /* box-shadow: 5px 5px 10px #888; */
  box-shadow: 3px 3px 11px #000; /* Using a hex value */
}

.dynamic-inputstitle-div {
  /* display: flex;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.dynamic-inputs-div {
  display: grid;
  gap: 1rem;
  grid-template-columns: auto auto 1fr auto;
  padding: 0.6em;
  /* border: 1px solid black; */
  margin-top: 0.2em;
  transition: 0.2s;
}
.menge-title {
  padding-left: 4rem;
  /* margin-left: 3rem; */
}
.dynamic-inputs-div:hover {
  background-color: tomato;
}
.unity-select {
  width: 150px;
}
.add-inputs-btn {
  border: none;
  background-color: rgb(220, 219, 219);
  padding: 5px 8px;
  border-radius: 5px;
  margin-top: 0.6em;
  cursor: pointer;
}
.remove-inputs-btn {
  background-color: rgb(210, 39, 8);
  border: none;
  color: white;
  padding: 5px 8px;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.2s;
}
.remove-inputs-btn:hover {
  background-color: white;
  color: rgb(210, 39, 8);
  transform: scale(1.08);
}

.background-div {
  position: absolute;
  background: linear-gradient(to bottom, tomato, transparent);
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  /* opacity: 50%; */
  filter: blur(5px);
  z-index: -5;
  opacity: 75%;
}
.step-btn {
  color: white;
  background-color: rgb(217, 48, 18);
  padding: 8px 12px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  /* position: fixed; */
}
.step-back-btn {
  position: absolute;
  bottom: -2.5rem;
  right: 1rem;
}
.section-form-two {
  position: absolute;
}
.btns-div {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
  margin-top: 1rem;
}
.handle-submit-btn {
  border: none;
  padding: 5px 8px;
  border-radius: 5px;
  background-color: orangered;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}
.handle-submit-btn:hover {
  transform: scale(1.1);
  background-color: rgb(189, 38, 0);
}
.img-url,
.recipe-name {
  display: flex;
  flex-direction: column;
}
.portion label,
.img-url input,
.img-url label,
.recipe-name label,
.recipe-name input {
  margin: 0.3rem;
}
.portion label,
.img-url label,
.recipe-name label {
  font-weight: bold;
}
.img-url input,
.recipe-name input {
  padding: 3px;
}

.portion input {
  width: 3rem;
  margin: 0 0.3rem;
}
.portion div span {
  font-size: 12px;
  margin: 0.3rem;
}
.errorMessages-divs {
  display: flex;
  flex-direction: column;
  background-color: rgb(239, 239, 239);
}
.errorMessages-divs span {
  color: red;
  font-size: 12px;
  margin: 2px 5px;
  /* display: none; */
}
/* input:invalid ~ .errorMessages-divs span {
  display: block;
} */

.editor-container {
  background-color: white;
  height: 250px;
  border: solid 1px lightgray;
  overflow: scroll;
}
.editor {
  height: 100%;
  border: none;
}

/* Dynamic input responsive design */

@media (max-width: 768px) {
  .dynamic-inputs-div {
    display: flex;
    flex-direction: column;
  }

  .form-container {
    width: 100%;
    height: 400px;
    position: relative;
  }
}

/* file */
.file-recipe-div {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.file-recipe-text {
  margin-left: 6px;
  font-size: 12px;
}
.file-recipe {
  background-color: rgb(229, 67, 39);
  color: white;
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 5px;
  width: 200px;
}
