.shoppinglist-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.shoppinglist-container {
  margin-top: 5rem;
  width: 600px;
  min-height: 600px;
}
.shoppingliste-info-div {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.shoppinglist-list {
  width: 100%;
}
.shoppinglist-list ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1px;
  justify-content: center;
  align-items: center;
}
.shoppinglist-list ul li {
  background-color: rgb(244, 227, 224);
  padding: 5px 7px;
  margin: 0;
  width: 100%;
}
.shoppinglist-arrow-icon {
  cursor: pointer;
}

.shoppinglist-title {
  background-color: tomato;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  border: rgb(132, 22, 2) 2px solid;
  position: relative;
}
.shoppinglist-title h4 {
  color: white;
}
.delete-item-shoppinglist {
  background-color: red;
  color: white;
  position: absolute;
  padding: 5px;
  right: -1.7rem;
  top: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: 0.18s;
}
.delete-item-shoppinglist:hover {
  transform: scaleX(-1.1);
  background-color: rgb(160, 3, 3);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.delete-item-shoppinglist-mobile {
  background-color: red;
  color: white;
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: 0.18s;
  display: none;
}

@media (max-width: 700px) {
  /* CSS styles for small screens */
  .delete-item-shoppinglist-mobile {
    display: flex;
  }
  .delete-item-shoppinglist {
    display: none;
  }
}
